* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.backgroundimage {
  background-image: url(../landscape.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 450px;
}
