$transition-property: all;
$transition-duration: 800ms;
$transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
$transform: translateX(-175px);

$border: none;
$width: 250px;
$height: 40px;
$border-radius: 10px;
